habit-thinking {
    display: block;
    position: relative;
    margin: 1em 0;
    padding-left: 28px;
    cursor: pointer;
    user-select: none; /* テキストの選択を防ぐ */
}

th {
    background-color: rgba(224, 223, 214, 0.956);
    text-align: center;
    width: 15%;
}

div.columns {    
    column-count: 4;
    column-gap: 30px;
    margin: 10;
    padding: 0;
}

.habit {
    width: 140px;
}

body {
    font-size: 17px;
    word-break: break-word; 
}

.wrap_thinking {
    column-count: 3;
}

p {
    line-height: 2.0;
}

.button_wrapper {
    text-align: right;
}

.button_wrappe_left {
    text-align: left;
}

.page {
    text-align: center;
}

.under_line {
    text-decoration:underline;
}

.buttons-first {
    display: inline-block;
    margin:  20px 20px 20px 0px;
}

.buttons {
    display: inline-block;
    margin: 20px 20px;
}

.welcome {
    margin-top: 70px; 
}

label.heading {
    font-weight: 500;
}

h3.title_head { 
    margin: 20px 0px 20px 0px;
}

div.serch {
    margin: 20px 0px 20px 0px;
}

div.card {
    margin-top: 50px;
}

div.pages {
    margin: 30px;
}

div.jumbotron {
    margin-top: 40px;
}

.cbt-title {
    margin: 15% 0% 30% 0%;

}

.about-cbt {
    padding: 80px, 30px;
    margin-bottom: 60px;
    text-align: center;
    background-color: #fff;
    color: #333;
}

.heading {
    position: relative;
   
    margin: 30px 0 15px;
    letter-spacing: 2px;
    font-size:2rem;

}

.about-text {
    margin: 0.7% 13%;
    line-height: 2.5;

}

.works {
    background-color:  #383634;
    padding: 80px 0;
}

.footer {
    position: absolute;/* ←絶対位置 */
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFCC;
    font-size:17px;
}

.footerFixed {
    min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
    position: relative;/* ←相対位置 */
    padding-bottom: 60px; /* ←フッターの高さを指定 */
    box-sizing: border-box;
    /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}
h1.outline {
    display        : inline-block;
    color          : rgba(255, 255, 255, 0.97);            /* 文字の色 */
    font-size      : 36pt;               /* 文字のサイズ */
    letter-spacing : 4px;                /* 文字間 */
    text-shadow    : 
         2px  2px 2px rgba(0, 0, 0, 0.25),
        -2px  2px 2px rgba(0, 0, 0, 0.25),
         2px -2px 2px rgba(0, 0, 0, 0.25),
        -2px -2px 2px rgba(0, 0, 0, 0.25),
         2px  0px 2px rgba(0, 0, 0, 0.25),
         0px  2px 2px rgba(0, 0, 0, 0.25),
        -2px  0px 2px rgba(0, 0, 0, 0.25),
         0px -2px 2px rgba(0, 0, 0, 0.25);        /* 文字の影 */
}
.message {
    color : #FFB6C1;
    margin-top:30px
}

